.paperNameText:hover {
  color:red;
  font-size: 16px;
  stroke-width: 0;
}
.NodeTexts {
  padding: 10px;
}
.differingNodeHeaderText {
  font-size: 15px;
  font-family: sans-serif;
  color: navy;
  stroke-width: 0;
}
.paperNameText{
  font-size: 15px;
  font-family: sans-serif;
  color: black;
  stroke-width: 0;
}
.nodeRect {
  fill: skyblue;
}
