

#root {
  width: 100%;
  overflow-x:hidden
}
@media (max-width:768px) {
    body {
      overflow-x:hidden !important;
    }
  }

.navbar-nav > .active > a{
    font-weight: bold;
    color:white
}

.search-bar{
    background-color: #FBFCF8;
}